<nav class="container" aria-label="Primary Navigation">
  <ul>
    {% for name in ["media", "providers", "events", "history"] %}
    <li><a href="/{{ name }}"{% if page == name %} class="active" aria-current="page"{% endif %}>{{ name | title }}</a></li>
    {% endfor %}
  </ul>
  <ul>
    <li><a{% if page == 'settings' %} class="active"{% endif %} href="/settings"{% if page == "settings" %} aria-current="page"{% endif %}>Settings</a></li>
    <li><form method="post" action="/logout"><button class="secondary outline">Log Out</button></form></li>
  </ul>
</nav>
