{% macro fields(items) -%}
{% for field in items %}<label class="form-label"
  >{{ field.label }}{% if field.options %}<select class="form-select form-select-sm" name="{{ field.name }}"{% if field.locked %} disabled{% endif %}>
    {% for option in field.options %}<option value="{{ option }}"{% if field.value == option %} selected{% endif %}>{{ option }}</option>{% endfor %}
  </select>
  {% elif field.type == "routes" %}<textarea class="font-monospace form-control form-control-sm" name="{{ field.name }}"{% if field.locked %} disabled{% endif %}>{{ field.value | tojson(indent=2) }}</textarea>
  {% elif field.type == "list" %}<input class="form-control form-control-sm" name="{{ field.name }}" value="{{ field.value | join(', ') }}"{% if field.locked %} disabled{% endif %} />
  {% else %}<input class="form-control form-control-sm" name="{{ field.name }}" type="{% if field.secret %}password{% elif field.type == 'number' %}number{% elif field.type == 'url' %}url{% else %}text{% endif %}" value="{% if not field.secret %}{{ field.value }}{% endif %}"{% if field.secret %} autocomplete="new-password" placeholder="{% if field.locked %}Environment Controlled{% elif field.configured %}Configured{% endif %}"{% endif %}{% if field.minimum is defined %} min="{{ field.minimum }}"{% endif %}{% if field.locked %} disabled title="Environment Controlled"{% endif %} />{% endif %}
  {% if field.locked %}<small class="text-secondary">Environment Controlled</small>{% endif %}</label
>{% endfor %}
{%- endmacro %}
