<header class="d-print-none navbar navbar-expand-md">
  <div class="container-xl">
    <a class="navbar-brand" href="/media"><span>Comfy Control</span></a>
    <button class="navbar-toggler" aria-controls="primary-navigation" aria-expanded="false" aria-label="Toggle Navigation" data-bs-target="#primary-navigation" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
    <nav class="collapse navbar-collapse" id="primary-navigation" aria-label="Primary Navigation">
      <ul class="navbar-nav">
        {% for name in ["media", "providers", "events", "history"] %}
        <li class="{% if page == name %}active {% endif %}nav-item"><a class="nav-link"{% if page == name %} aria-current="page"{% endif %} href="/{{ name }}">{{ name | title }}</a></li>
        {% endfor %}
      </ul>
      <ul class="ms-auto navbar-nav">
        <li class="{% if page == 'settings' %}active {% endif %}nav-item"><a class="nav-link"{% if page == "settings" %} aria-current="page"{% endif %} href="/settings">Settings</a></li>
        <li class="nav-item"><form action="/logout" method="post"><button class="nav-link" type="submit">Log Out</button></form></li>
      </ul>
    </nav>
  </div>
</header>
